.margin-top{
    margin-top: 100px;
}

.no-border {
    border: none!important;
}

.custom-list {
    height: 450px;
}

.border-radius-top {
    border-top-left-radius: 10px!important;
    border-top-right-radius: 10px!important;
    border-bottom-left-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
}

#log-main-color {
    color: $color_main;
}

// Dashboard's icons
#icon-user::after{
    @include dash_icon("\f007");
    padding: 0 10px;
}
#icon-burger::after{
    @include dash_icon("\f0c9");
}
#icon-dashboard::after{
    @include dash_icon("\f3fd");
}
#icon-food::after{
    @include dash_icon("\f2e7");
    padding-left: 2px;
}
#icon-order::after{
    @include dash_icon("\f07a");
}

.nav-color{
    background-color: $color_main;
    li{
        a{
            color: #fff;
        }
    }

}

#my-sidebar{
    position: fixed;
    top: 38px;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    li{
        a{
            color: #fff;
            &::after{
                border-bottom: 1px solid #fff;
                display:block;
                content: '';
                transform: scaleX(0);
                transition: transform 0.30s linear;
            }
            &:hover::after{
                transform: scaleX(1);
            }
        }
    }
}

.dashboard-welcome {
    margin-top: 70px;
}

.custom_card {
    /* The animation code */
    @keyframes welcome {
      from {height: 0;}
      to {height: 100;}
    }
    top: 80px;
    height: 100px;
    width: 100%;
    align-items: center;
    background-color: unset!important;
    border: unset!important;
    text-align: center;
    animation-name: welcome;
    animation-duration: 3s;

}

.card {
    position: unset!important;
    .card-header {
        background-color: $color_main;
        color: white;
        font-size: large;
        .btn-block {
            background-color: white;
            color: $color_main;
            font-weight: bold;
        }
    }
    .card-body {
        color: $color_main;
        font-size: medium;
        font-weight: bold;
    }

}

@media screen and (max-width: 992px) {
  .custom-title {
    font-size: 25px;
    font-weight: bold;
  }
}
