.margin-top{
    margin-top: 100px;
}

.custom-height{
    height: $custom_height * 4;
}

.delete-restaurant{
    margin-bottom: 12px;
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: unset!important;
    border-top: 1px solid #dee2e6;
}

.border-radius-none {
    border-radius: unset!important;
}

.backgmain{
    background-color: $color_main!important;
}

.color_main{
    background-color: $color_main;
    color: white;
}

table tbody {
  display: block;
  max-height: 442px;
  overflow-y: scroll;
}

table thead, table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.no-border {
    border: none!important;
}

.custom-list {
    height: 450px;
}

.border-radius-top {
    border-top-left-radius: 10px!important;
    border-top-right-radius: 10px!important;
    border-bottom-left-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
}

#log-main-color {
    color: $color_main;
}

// Dashboard's icons
#icon-user::after{
    @include dash_icon("\f007");
    padding: 0 10px;
}
#icon-burger::after{
    @include dash_icon("\f0c9");
}
.icon-dashboard::after{
    @include dash_icon("\f3fd");
}
.icon-restaurant::after{
    @include dash_icon("\f2e7");
    padding-left: 3px;
}
.icon-order::after{
    @include dash_icon("\f07a");
}
.icon-edit::after{
    @include dash_icon("\f044");
    color: rgba(0,0,0,0.5);
}
.icon-delete::after{
    @include dash_icon("\f2ed");
    color: darken($red, 15);
}

.nav-color{
    background-color: $color_main;
    li{
        a{
            color: #fff;
        }
    }

}
#my-sidebar{
    position: fixed;
    top: 38px;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    li{
        a{
            color: #fff;
            &::after{
                border-bottom: 1px solid #fff;
                display:block;
                content: '';
                transform: scaleX(0);
                transition: transform 0.30s linear;
            }
            &:hover::after{
                transform: scaleX(1);
            }
        }
    }
}
#my-icon-menu{
    display: none;
}

.dashboard-welcome {
    margin-top: 70px;
}

.card {
    ::-webkit-scrollbar {
      width: 15px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #F0FAFC;
      border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #02CDBC;
      border-radius: 10px;
    }
    position: unset!important;
    .card-header {
        background-color: $color_main;
        color: white;
        font-size: large;
        .btn-block {
            background-color: white;
            color: $color_main;
            font-weight: bold;
        }
    }
    .card-body {
        color: $color_main;
        font-size: medium;
        font-weight: bold;
    }

}

@media screen and (max-width: 762px) {
    #my-icon-menu{
        width: 60%;
        list-style-type: none;
        padding: 0 15px;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;

        li{
            ;
            .icon-responsive{
                display: flex;
                align-items: center;
                width: 25px;
                height: 25px;
            }
        }
    }


}

@media screen and (max-width: 762px) {
    .custom-height {
        height: 275px;
    }
}
