::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F0FAFC;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #06A092;
  border-radius: 10px;
}

#choosecard{
    background-color: #0696BB;
}


.show-button {
    &:hover{
        background-color: #FF9F00;
        color: white;
        transition: 0.3s;
    }
}

.footer_paragraph{
    font-size: 16px;
    letter-spacing: 1px;

}

.custom_background {
    background: linear-gradient(20deg, #00CDBC 0 50% ,#FF9F00 50% 100%);
}
.logo-navbar{
    width: 150px;
    height: 50px;
    img{
        width: 100%;
    }
}

.bg-my-light{
    background-color: $color_my_light;
}

.icon-restaurant-main-color::after{
    @include dash_icon("\f2e7");
    color: $color_main;
}
.icon-address-main-color::after{
    @include dash_icon("\f3c5");
    color: $color_main;
}
.icon-tags-main-color::after{
    @include dash_icon("\f02c");
    color: $color_main;
    padding-right: 0;
}
.icon-info-main-color::after{
    @include dash_icon("\f129");
    color: $color_main;
}
.icon-menu-main-color::after{
    @include dash_icon("\f46d");
    color: $color_main;
}
.icon-cart-main-color::after{
    @include dash_icon("\f07a");
    color: $color_main;
}

.search-box{
    width: 300px;
    height: 20px;
    padding: 18px 6px;
    background-color: rgba(256, 256, 256, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.5px solid $color_main;
    border-radius: 4px;
    button{
        background-color: Transparent;
        border: none;
        padding: 0 6px;
        width: 32px;
        cursor:pointer;
        outline:none;
        &::after{
            @include dash_icon("\f002");
            color: $color_main;
        }
    }
    input{
       width: 100%;
       background-color: Transparent;
       border: none;
       outline: none;
       color: darken($color_main, 15);
       &::placeholder{

           color: darken($color_main, 10);
       }
   }

}

.nav-top-right{
    ul{
        li{
            a{
                color: $color_main!important;
            }
        }
    }
}

// Sidebar
#guest-sidebar{
    position: fixed;
    top: 64px;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    background-color: #0696BB;

}

.g-custom-card-height {
    height: $custom_height * 2;
}

// card dish
.card-dish{
    border-radius: 10px;
    width: 48%;
    .btn-light{
        -webkit-transition:all .9s ease;
        -moz-transition:all .9s ease;
        -o-transition:all .9s ease;
        -ms-transition:all .9s ease;
        &:hover{
            background-color: #fff;
            border-color: #fff;
            box-shadow:
              0 2.8px 2.2px rgba(0, 0, 0, 0.034),
              0 6.7px 5.3px rgba(0, 0, 0, 0.048),
              0 12.5px 10px rgba(0, 0, 0, 0.06),
              0 22.3px 17.9px rgba(0, 0, 0, 0.072),
              0 41.8px 33.4px rgba(0, 0, 0, 0.086),
              0 100px 80px rgba(0, 0, 0, 0.12)
            ;
        }
        &:active, &:focus{
            background-color: #fff;
            border-color: #fff;
        }
    }

    .img-dish{
        width: calc(40%);
        height: $custom_height;
        img{
            -webkit-transition:all .9s ease;
            -moz-transition:all .9s ease;
            -o-transition:all .9s ease;
            -ms-transition:all .9s ease;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &:hover .img-dish img{
        -webkit-transform:scale(1.15);
        -moz-transform:scale(1.15);
        -ms-transform:scale(1.15);
        -o-transform:scale(1.15);
        transform:scale(1.15);
    }


}

.custom_padding {
    padding: $custom_padding;
}

.search_title {
    padding: $custom_padding;
    text-align: center;
}
.p-infos{
    overflow: hidden;
       text-overflow: ellipsis;
       display: -webkit-box;
       -webkit-line-clamp: 3; /* number of lines to show */
       -webkit-box-orient: vertical;
}

.card-restaurant{
    height: 400px;
}
