* {
    font-family: sans-serif!important;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F0FAFC;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #3490DC;
  border: 3px solid white;
  border-top: none;
  border-bottom: none;
}

.min-h-card-rest {
    height: 430px!important;
}

.my-shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.07)!important;
}

#choosecard{
    background-color: #0696BB;
}

.height-fix {
    height: 255px;
}

.form-check-input:hover{
    cursor: pointer;
}

.form-check-label img {
    width: 80%;
}

.form-check-label {
    width: 100%!important;
}

.form-check-inline .form-check-input {
    position: absolute !important;
    margin-top: 0 !important;
    margin-right: 0.3125rem !important;
    margin-left: 0 !important;
    top: 30px !important;
    left: 48px !important;
    width: 63% !important;
    height: 64% !important;
    opacity: 0 !important;
}

.show-button {
    background-color: #F8F9FA!important;
    border: 0!important;
    &:hover{
        background-color: #D0EB99!important;
        color: white;
        transition: 0.3s;
    }
}

.footer_paragraph{
    font-size: 16px;
    letter-spacing: 1px;

}

.custom_background {
    background-color: #FFEAE4!important;
}

.custom_background_jumbotron {
    background-color: #d0eb99!important;
    h1 {
        color: #450B63;
        font-weight: bold;
        font-family: sans-serif;
        max-width: 380px;
    }

}


.custom-height_jumbotron{
    height: $custom_height * 3;
}

.img_jumbotron {
    height: 220px;
    width: 195px;
}

.logo-navbar{
    width: 150px;
    height: 50px;
    img{
        width: 100%;
    }
}

.bg-my-light{
    background-color: $color_my_light;
}

.icon-restaurant-main-color::after{
    @include dash_icon("\f2e7");
    color: $color_main;
    padding-right: 8px!important;
}
.icon-address-main-color::after{
    @include dash_icon("\f3c5");
    color: $color_main;
}
.icon-tags-main-color::after{
    @include dash_icon("\f02c");
    color: $color_main;
    padding-right: 0;
}
.icon-info-main-color::after{
    @include dash_icon("\f129");
    color: $color_main;
}
.icon-menu-main-color::after{
    @include dash_icon("\f46d");
    color: $color_main;
}
.icon-cart-main-color::after{
    @include dash_icon("\f07a");
    color: $color_main;
}
.icon-delete-danger::after{
    @include dash_icon("\f00d");
    color: red;
    cursor: pointer;

}
.icon-rider-main-color::after{
    @include dash_icon("\f84a");
    font-size: 32px;
    padding-bottom: 4px;
    color: $color_main;
}

.search-box{
    width: 300px;
    height: 20px;
    padding: 18px 6px;
    background-color: rgba(256, 256, 256, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.5px solid $color_main;
    border-radius: 4px;
    button{
        background-color: Transparent;
        border: none;
        padding: 0 6px;
        width: 32px;
        cursor:pointer;
        outline:none;
        &::after{
            @include dash_icon("\f002");
            color: $color_main;
        }
    }
    input{
       width: 100%;
       background-color: Transparent;
       border: none;
       outline: none;
       color: darken($color_main, 15);
       &::placeholder{

           color: darken($color_main, 10);
       }
   }

}

.nav-top-right{
    ul{
        li{
            a{
                color: $color_main!important;
            }
        }
    }
}

// Sidebar
#guest-sidebar{
    position: fixed;
    top: 64px;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    background-color: #FFF;

}

.g-custom-card-height {
    height: $custom_height * 2;
    border-top-left-radius: 15px!important;
    border-top-right-radius: 15px!important;
}

// card dish
.card-dish{
    border-radius: 10px;
    width: 48%;
    .btn-light{
        -webkit-transition:all .9s ease;
        -moz-transition:all .9s ease;
        -o-transition:all .9s ease;
        -ms-transition:all .9s ease;
        &:hover{
            background-color: #fff;
            border-color: #fff;
            box-shadow:
              0 2.8px 2.2px rgba(0, 0, 0, 0.034),
              0 6.7px 5.3px rgba(0, 0, 0, 0.048),
              0 12.5px 10px rgba(0, 0, 0, 0.06),
              0 22.3px 17.9px rgba(0, 0, 0, 0.072),
              0 41.8px 33.4px rgba(0, 0, 0, 0.086),
              0 100px 80px rgba(0, 0, 0, 0.12)
            ;
        }
        &:active, &:focus{
            background-color: #fff;
            border-color: #fff;
        }
    }

    .img-dish{
        width: calc(40%);
        height: $custom_height;
        img{
            -webkit-transition:all .9s ease;
            -moz-transition:all .9s ease;
            -o-transition:all .9s ease;
            -ms-transition:all .9s ease;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &:hover .img-dish img{
        -webkit-transform:scale(1.15);
        -moz-transform:scale(1.15);
        -ms-transform:scale(1.15);
        -o-transform:scale(1.15);
        transform:scale(1.15);
    }


}

.custom_padding {
    padding: $custom_padding;
}

.search_title {
    padding: $custom_padding;
    text-align: center;
}
.p-infos{
    overflow: hidden;
       text-overflow: ellipsis;
       display: -webkit-box;
       -webkit-line-clamp: 1; /* number of lines to show */
       -webkit-box-orient: vertical;
}

.img-restaurant {
    border: 5px solid white;
}

.card-restaurant{
    height: 400px;
}
