.logo-navbar{
    width: 150px;
    height: 50px;
    img{
        width: 100%;
    }
}

.search-box{
    width: 300px;
    height: 20px;
    padding: 18px 6px;
    background-color: rgba(256, 256, 256, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.5px solid $color_main;
    border-radius: 4px;
    button{
        background-color: Transparent;
        border: none;
        padding: 0 6px;
        width: 32px;
        cursor:pointer;
        outline:none;
        &::after{
            @include dash_icon("\f002");
            color: $color_main;
        }
    }
    input{
       width: 100%;
       background-color: Transparent;
       border: none;
       outline: none;
       color: darken($color_main, 15);
       &::placeholder{

           color: darken($color_main, 10);
       }
   }

}

.nav-top-right{
    ul{
        li{
            a{
                color: $color_main!important;
            }
        }
    }
}

// Sidebar
#guest-sidebar{
    position: fixed;
    top: 71px;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    border-right: 1px solid $color_main;

}

.g-custom-card-height {
    height: $custom_height * 2;
}
